.main-header.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  // padding: 0 1rem;

}

.nav-title a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color:blue ;
  }
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem; /* Smaller padding to avoid full height */
  border-radius: 4px;
  transition: background-color 0.3s;
  line-height: 2; /* Set a line-height for consistent spacing */

  &.active {
    background-color: rgba(0, 0, 255); /* 50% opacity */
  }
  
  &:hover {
    background-color:  rgba(0,0,255,0.5);;
    color: red;
  }
}
